body {
  background-color: #fffcf9;
  font-family: serif;
  line-height: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  width: 100%;
  height: 100%;
}

header p:nth-child(1) {
  font-size: 20px;
  text-align: center;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(232, 211, 199, 0.9);
}

.menu-item {
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  box-sizing: border-box;
}

.menu-item a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: lighter;
}

.menu-item a:hover {
  color: gray;
}

.nav {
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s linear;
}


.nav.is-active {
  pointer-events: auto;
  opacity: 1;
}

.nav.close {
  opacity: 0;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: fixed;
}

.menu-trigger {
  width: 25px;
  height: 22px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  top: 22px;
  right: 30px;
  z-index: 1;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
  z-index: 1;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
  z-index: 1;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
  z-index: 1;
}

header p:nth-child(2) {
  display: flex;
  justify-content: center;
}

header img {
  width: 220px;
  height: 130px;
  margin-bottom: 20px;
}

h1 {
  position: relative;
}

.page-transition {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.prev-page, .next-page {
  width: 50px;
  height: 50px;
  position: fixed;
  margin-top: 40px;
}

.next-page {
  right: 0;
}

.prev-page img , .next-page img {
  width: 50px;
  height: 50px;
}
.infomation {
  width: 100%;
  height: 120px;
}

.infomation p:nth-of-type(1), .infomation p:nth-of-type(2) {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.infomation p:nth-of-type(1) {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 220px;
}

.infomation p:nth-of-type(2) {
  margin-right: auto;
  margin-left: auto;
  width: 220px;
}

.more-website {
  width: 80px;
  height: 25px;
  border: 2px solid #6f5705;
  border-radius: 7px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  cursor: pointer;
  margin-bottom: 40px;
}

.more-website img {
  width: 55px;
  height: 27px;
  position: absolute;
  left: 10px;
  bottom: -3px;
}

 .site-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  width: 100%;
}

.container {
  width: 220px;
  padding: 10px;
  padding-top: 20px;
  border: 2px solid #6f5705;
  margin: 0 auto 30px auto;
 }

h2 p:nth-of-type(1), h2 p:nth-of-type(2), h2 p:nth-of-type(3) {
  font-size: 10px;
  margin-bottom: 20px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.site-img img {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.site-menu-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.site-menu-img img {
  width: 180px;
}

.comment-title {
  font-size: 10px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition-duration: 0.5s;
  cursor: pointer;
}

@media screen and (min-width:600px) {
  
  header {
    height: 100%;
  }
  
  header p:nth-child(1) {
    font-size: 26px;
  }
  
  header p:nth-child(2) {
    margin-bottom: 20px;
  }

  .menu-trigger {
    width: 50px;
    height: 44px;
    top: 30px;
  }

  .menu-trigger span {
    height: 4px;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }

  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(20px) rotate(-45deg);
    z-index: 1;
  }
  
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
    z-index: 1;
  }
  
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-20px) rotate(45deg);
    z-index: 1;
  }

  .menu-item a {
    font-size: 24px;
  }
  
  header img {
    width: 500px;
    height: 295px;
  }
  
  .prev-page, .next-page {
    width: 80px;
    height: 80px;
    margin-top: 100px;
  }
  
  .prev-page img , .next-page img {
    width: 80px;
    height: 80px;
  }

  .infomation {
    height: 100%;
  }
  
  .infomation p:nth-of-type(1), .infomation p:nth-of-type(2) {
    font-size: 14px;
    line-height: 20px;
  }
  
  .infomation p:nth-of-type(1) {
    width: 500px;
    display: flex;
    justify-content: center;
  }
  
  .infomation p:nth-of-type(2) {
    width: 500px;
    display: flex;
    justify-content: center;
  }

  .infomation p:nth-of-type(1) br:nth-of-type(1) {
    display: none;
  }
  
  .more-website {
    width: 140px;
    height: 50px;
    border-radius: 7px;
    margin-top: 40px;
  }
  
  .more-website img {
    width: 100px;
    height: 50px;
    left: 15px;
    bottom: -3px;
  }
  
  .container {
    width: 500px;
   }
  
  h2 p:nth-of-type(1){
    font-size: 14px;
    width: 440px;
    margin-bottom: 40px;
  }

  h2 p:nth-of-type(2), h2 p:nth-of-type(3) {
    font-size: 14px;
  }

  h2 p:nth-of-type(1), h2 p:nth-of-type(2), h2 p:nth-of-type(3) {
    width: 440px;
  }

  .conf-container1, .conf-container2 {
    display: flex;
  }

  .conf-container1 p, .conf-container2 p {
    display: flex;
    align-items: center;
  }
  
  .site-img img {
    width: 200px;
  }
  
  .site-menu-img img {
    width: 200px;
  }


  #scroll-to-top-btn {
    width: 70px;
    height: 70px;
  }

}

@media screen and (min-width:1025px) {

  
  header p:nth-child(1) {
    font-size: 38px;
    margin-bottom: 30px;
  }
  
  header p:nth-child(2) {
    margin-bottom: 30px;
  }

  .menu-item a {
    font-size: 30px;
  }
  
  header img {
    width: 800px;
    height: 472px;
  }
  
  .prev-page, .next-page {
    width: 130px;
    height: 130px;
    margin-top: 150px;
  }
  
  .prev-page img , .next-page img {
    width: 130px;
    height: 130px;
  }
  
  .infomation p:nth-of-type(1), .infomation p:nth-of-type(2) {
    font-size: 24px;
    line-height: 25px;
  }
  
  .infomation p:nth-of-type(1) {
    width: 800px;
  }
  
  .infomation p:nth-of-type(2) {
    width: 800px;
  }
  
  .more-website {
    width: 140px;
    height: 50px;
    border-radius: 7px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  
  .more-website img {
    width: 100px;
    height: 50px;
    left: 15px;
    bottom: -3px;
  }
  
  .container {
    width: 800px;
   }
  
  h2 p:nth-of-type(1), h2 p:nth-of-type(2), h2 p:nth-of-type(3) {
    font-size: 24px;
    width: 700px;
    line-height: 25px;
  }

  h2 p:nth-of-type(1) {
    margin-bottom: 80px;
  }
  
  .site-img img {
    width: 300px;
  }
  
  .site-menu-img img {
    width: 300px;
  }

  #scroll-to-top-btn {
    width: 120px;
    height: 120px;
    bottom: 10px;
    right: 30px;
  }
}